<h1>History for <%= @history[:name] %></h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Added Songs</th>
      <th>Removed Songs</th>
    </tr>
  </thead>

  <tbody>
    <% @history[:changes].each do |change| %>
      <tr>
        <td><%= change[:start_date].strftime("%b %d, %Y") %> - <%= change[:end_date].strftime("%b %d, %Y") %></td>
        <td>
          <ul>
            <% change[:added].each do |song| %>
              <li><%= song %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% change[:removed].each do |song| %>
              <li><%= song %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>