<!DOCTYPE html>
<html>
  <head>
    <title>YoutubeWatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.youtube.com/iframe_api"></script>
  </head>

  <body>
    <%= render partial: "layouts/layouts/navbar" %>
    <main class="main-content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
